.practice-questions-list {
  width: 100%;
  padding: 0;
  list-style-type: none;
  &__wrapper {
    margin: 0;
  }
  &__item {
    font-size: em(20);
    line-height: em(24);
    letter-spacing: 1.25px;
    margin: 0.5em 0;
    text-align: left;
    cursor: pointer;
    transition: all ease-in-out $transTime;
    &:hover {
      border-left: 4px solid $textColor !important;
      padding-left: 1em;
    }
    &-success {
      background-color: $success_answer;
      cursor: auto;
      pointer-events: none;
    }
    &-wrong {
      background-color: $wrong_answer;
      cursor: auto;
      pointer-events: none;
    }
    &-wrong-success {
      background-color: $wrong-success_answer;
      cursor: auto;
      pointer-events: none;
    }
    &-is-answered {
      cursor: auto;
      pointer-events: none;
    }
  }
}
